#input {
  padding: .625rem 1.25rem;
  border-top: 1px solid #e2e2e2;
}

#input textarea {
  margin: .625rem 0;
  width: 100%;
  box-sizing: border-box;
  background-color: #f3f3f3;
  border: none;
  outline: none;
}

#tools .iconfont {
  margin-right: .625rem;
}